@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 70vw;
  margin: 20vh auto;
}

.grid {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.cell {
  padding: 25px;
  border-radius: 5px;
}
.cell-1 {
  background-repeat: no-repeat;
  background-image: url("images/bg-pattern-quotation.svg");
  background-position-x: 80%;
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / 3;
  align-self: start;
}
.cell-2 {
  background-color: hsl(217, 19%, 35%);
  align-self: start;
}
.cell-3 {
  background-color: hsl(0, 0%, 100%);
}
.cell-4 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
}
.cell-5 {
  background-color: hsl(0, 0%, 100%);
  grid-row: 1 / 3;
  grid-column: 4;
}
.cell-3 .heading,
.cell-5 .heading {
  color: hsl(217, 19%, 50%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cell-1 img,
.cell-4 img {
  border: 2px solid hsl(263, 52%, 60%);
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.paragraph {
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 0%, 70%);
}

.name {
  color: hsl(0, 0%, 50%);
  font-size: 15px;
  font-weight: 600;
}
.profession {
  color: hsl(0, 0%, 50%);
  font-size: 13px;
  font-weight: 300;
}

@media all and (max-width: 375px) {
  .container {
    width: 90vw;
    height: 80vw;
  }
  .grid {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
